
//
// VARIABLES
//

// Colors
$blue: #2f6396;

// Grays
$black: #000;
$darkerGray: #282f38;
$darkGray: #373d45;
$gray: #656870;
$lightGray: #e3e5e6;
$white: #fdfcfb;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$monospace: ui-monospace, "SFMono-Regular", Consolas, "Liberation Mono", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
